// pagination
.ant-pagination.mini .ant-pagination-item {
  border: 1px solid transparent;
  background-color: transparent;
}

// dropdown
.ant-dropdown {
  padding: 5px;

  .ant-menu-vertical .ant-menu-item {
    min-width: 150px;
  }

  .ant-menu-item:not(.ant-menu-item-disabled):hover,
  .ant-menu-item-active {
    background: rgba(61, 125, 219, 0.1);
    color: #3d7ddb;
  }

  .ant-menu-vertical .ant-menu-item:not(:last-child) {
    margin-top: 0;
    margin-bottom: 5px;
    border-radius: 4px;
  }

  .ant-menu-vertical {
    border-right: none;
  }
}

// tree
.ant-tree .ant-tree-node-content-wrapper {
  line-height: 36px;
  flex: 1;
  min-width: 0;
  color: #333333;
}

.ant-tree .ant-tree-switcher .ant-tree-switcher-icon,
.ant-tree .ant-tree-switcher .ant-select-tree-switcher-icon {
  font-size: 14px;
}

.ant-tree.ant-tree-directory .ant-tree-treenode-selected:hover::before,
.ant-tree.ant-tree-directory .ant-tree-treenode-selected::before {
  background-color: rgba(61, 125, 219, 0.1);
}

.ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected {
  background-color: rgba(61, 125, 219, 0.1);
}

.ant-tree-treenode .ant-tree-node-content-wrapper.ant-tree-node-selected {
  color: #3d7ddb;
}

.ant-tree .ant-tree-node-content-wrapper:hover {
  background-color: rgba(61, 125, 219, 0.1);
  color: #3d7ddb;
}
