@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.about_content {
  display: flex;
  flex-direction: column;
  width: 1200px;
  box-sizing: border-box;
  background: #ffffff;
  padding: 50px;
  padding-top: 35px;
  margin: 0 auto;
}

.title {
  font-size: 24px;
  padding: 50px 0;
  text-align: center;
}

.title::after {
  content: '';
  width: 85px;
  height: 3px;
  border-radius: 4px;
  background-color: $primary-color;
  display: block;
  margin: 25px auto 0;
}

.section_content {
  margin-bottom: 50px;
}

.text_content {
  font-size: $font-size-base;
  margin: 10px 0;
}

.contact_content {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  justify-content: center;
}

.card_content {
  width: 300px;
  height: 142px;
  box-shadow: 0 0 20px 0 rgba(26,52,45,.1);
  border-radius: 5px;
  background-color: #fff;
  margin: 0 27px;

  &_wraper {
    display: flex;
    flex-direction: row;
  }
}
